.service-card {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  .service-card i{
      font-size: 30px;
      color: #007bff;
    
  }
  .service-title {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  .new-badge {
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 5px;
  }